<div class="loader">
  <div class="loader-inner">
      <div class="loader-line-wrap">
          <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
          <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
          <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
          <div class="loader-line"></div>
      </div>

      <div>
          <img class="imagen" src="https://app.amazonaserp.com/assets/images/amazonas_logo_letra_1.png"/>
      </div>
  </div>
</div>