.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--ion-color-primary) !important;
}

.mat-tab-label-container {
    height: 53px !important;
}

.mat-tab-label {
    width: 100% !important;
}