ion-menu {

    .header-image {
        width: 106px;
    }

    .item_apps {
        cursor: pointer;
    }

    ion-item {
        & ion-icon {
            color: var(--ion-color-primary);
            font-size: 30px !important;
            margin-left: 25% !important;
        }

        &.active {
            border-right-color: var(--ion-color-primary);
            border-right-style: inset;
            border-right-width: 3px;
        }
    }

    ion-item:hover {
        border-right-color: var(--ion-color-primary);
        border-right-style: groove;
        border-right-width: 3px;

        >.ion-activable {}
    }

    @media (min-width: 768px) {
        max-width: 114px;
        min-width: 114px;
        width: 114px;

        ion-content {
            --ion-background-color: darken(var(--ion-color-background), 0%) !important;
            box-shadow: 2px -2px 20px 0px black;
            width: 111px !important;
        }

        ion-item {
            >ion-label {
                display: none !important;
            }
        }
    }

    @media (max-width: 767px) {
        max-width: 100%;
        min-width: 100%;
        width: 100%;

        ion-content {
            --ion-background-color: darken(var(--ion-color-background), 0%) !important;
            box-shadow: 2px -2px 20px 0px black;
        }
    }
}